<template>
  <a-layout>
    <a-layout-header>School Name - Schedule System</a-layout-header>
  </a-layout>
</template>

<script>
export default {};
</script>

<style>
.ant-layout-header {
  text-indent: 50px;
  font-size: 35px;
  letter-spacing: 1px;
  color: white;
}
</style>
