<template>
  <div class="form">
    <a-form
      id="components-form-demo-normal-login"
      :form="form"
      class="login-form"
      @submit.prevent="login"
    >
      <a-form-item>
        <a-input
          placeholder="Email"
          v-decorator="[
            'email',
            {
              rules: [
                {
                  type: 'email',
                  required: true,
                  message: 'Please enter your email',
                },
              ],
            },
          ]"
        />
        <a-icon slot="prefix" type="user" style="color: rgba(0, 0, 0, 0.25)" />
      </a-form-item>
      <a-form-item>
        <a-input-password
          placeholder="Password"
          v-decorator="[
            'password',
            {
              rules: [
                { required: true, message: 'Please enter your password' },
              ],
            },
          ]"
        />
        <a-icon slot="prefix" type="lock" style="color: rgba(0, 0, 0, 0.25)" />
      </a-form-item>
      <a-form-item>
        <a-checkbox
          v-decorator="[
            'remember',
            {
              valuePropName: 'checked',
              initialValue: true,
            },
          ]"
        >
          Remember me
        </a-checkbox>
        <NuxtLink class="login-form-forgot" to="/forgotpass">
          Forgot password</NuxtLink
        >
        <a-button type="primary" html-type="submit" class="login-form-button">
          Log in
        </a-button>
        <a><NuxtLink to="/register">Register</NuxtLink> </a>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: "normal_login" });
  },
  methods: {
    async login() {
      try {
        const values = await this.form.validateFields();
        this.$auth
          .loginWith("local", {
            data: values,
          })
          .then(() => {
            this.$router.push("/");
          });
      } catch (error) {
        this.$message.error("Invalid email or password!");
      }
    },
  },
};
</script>
<style scoped>
.form {
  margin-top: 100px;
}
.login-form {
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(50px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  max-width: 400px;
  height: 300px;
  margin: auto;
}

#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
a {
  margin-left: 73px;
}
</style>
