<template>
  <div class="nav">
    <a-menu v-model="current" mode="horizontal">
      <a-menu-item key="profile"> <a-icon type="user" />Profile </a-menu-item>
      <a-menu-item key="calendar">
        <a-icon type="calendar" />Calendar
      </a-menu-item>
      <a-menu-item key="logout"> <a-icon type="logout" />Logout </a-menu-item>
    </a-menu>
  </div>
</template>

<script>
export default {};
</script>

<style>
.nav {
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 66px;
  margin-right: 20px;
  padding: 5px;
  scale: 0.8;
}
</style>
