<template>
  <div class="form">
    <a-form :form="form" @submit.prevent="register">
      <a-form-item
        label="Full name"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
      >
        <a-input
          v-decorator="[
            'fullname',
            {
              rules: [
                {
                  required: true,
                  message: 'Please enter your full name',
                },
              ],
            },
          ]"
        />
      </a-form-item>
      <a-form-item
        label="Email"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
      >
        <a-input
          v-decorator="[
            'email',
            {
              rules: [
                {
                  type: 'email',
                  required: true,
                  message: 'Please enter your email',
                },
              ],
            },
          ]"
        />
      </a-form-item>
      <a-form-item
        label="Password"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
      >
        <a-input-password
          v-decorator="[
            'password',
            {
              rules: [
                { required: true, message: 'Please enter your password' },
              ],
            },
          ]"
        />
      </a-form-item>
      <a-form-item
        label="Confirm:"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
      >
        <a-input-password
          v-decorator="[
            'confirmPassword',
            {
              rules: [
                { required: true, message: 'Please confirm your password' },
                { validator: validateConfirmPassword },
              ],
            },
          ]"
        />
      </a-form-item>
      <a-form-item
        label="College"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
      >
        <a-input
          v-decorator="[
            'college',
            {
              rules: [{ required: true, message: 'Please enter your college' }],
            },
          ]"
        />
      </a-form-item>
      <a-form-item
        label="Course"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
      >
        <a-input
          v-decorator="[
            'course',
            {
              rules: [{ required: true, message: 'Please enter your course' }],
            },
          ]"
        />
      </a-form-item>
      <a-form-item>
        <a-button type="primary" html-type="submit" class="register"
          >Register</a-button
        >
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: this.$form.createForm(this),
      confirmPassword: "",
    };
  },
  methods: {
    async register() {
      try {
        const values = await this.form.validateFields();
        const response = await this.$axios.post("register", values);
        console.log(response.data);
        this.$message.success("Registered successfully!");
        this.$router.push("/");
      } catch (error) {
        console.error(error);
        this.$message.error("Email already exist!");
      }
    },
    validateConfirmPassword(rule, value, callback) {
      if (value && value !== this.form.getFieldValue("password")) {
        callback("Passwords do not match");
      } else {
        callback();
      }
    },
  },
};
</script>

<style scoped>
.all {
  margin-top: 35px;
}
.form {
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  padding-left: 100px;
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(50px);
  max-width: 500px;
  margin-top: 50px;
  height: 450px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}
.register {
  margin-left: 117px;
}
</style>
