<template>
  <div class="all">
    <div class="forgot-password-wrapper">
      <form class="forgot-password-form" @submit.prevent="handleSubmit">
        <a-form-item>
          <h3>We will send an email to reset your password.</h3>
          <a-input
            v-model="email"
            type="email"
            name="email"
            placeholder="Email"
          />
        </a-form-item>
        <a-form-item>
          <a-button
            type="primary"
            html-type="submit"
            class="forgot-password-button"
            >Submit</a-button
          >
        </a-form-item>
      </form>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.forgot-password-wrapper {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-form {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(50px);
}

.forgot-password-button {
  display: block;
  margin: 0 auto;
}
.all {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;

  background-image: url("../static/eschool.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  height: 100%;
  margin: 0;
}
</style>
