<template>
  <div class="one">
    <h1>Welcome, {{ $auth.user.fullname }}</h1>
    <div class="nav">
      <a-menu mode="horizontal">
        <a-menu-item key="profile"> <a-icon type="user" />Profile </a-menu-item>

        <a-menu-item key="calendar">
          <NuxtLink to="/teachercalendar"
            ><a-icon type="calendar" />Calendar</NuxtLink
          >
        </a-menu-item>
        <a-menu-item key="logout" @click="logout">
          <a-icon type="logout" />Logout
        </a-menu-item>
      </a-menu>
    </div>
    <div class="two">
      <a-upload
        list-type="picture-card"
        :file-list="fileList"
        :before-upload="beforeUpload"
        multiple="false"
        :show-upload-list="false"
      >
        <a-icon type="plus" /> Upload
      </a-upload>
    </div>
    <div class="three">
      <h2>Information</h2>
      <div class="info">
        <h3>College: <a-input v-model="college" /></h3>
        <h3>Course: <a-input v-model="course" /></h3>
        <h3>Email: <a-input v-model="email" /></h3>
        <h3>Password: <a-input-password v-model="password" /></h3>
        <a-button type="primary" @click="updateUser">Update</a-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "auth",
  data() {
    return {
      fileList: [],
      college: this.$auth.user.college,
      course: this.$auth.user.course,
      email: this.$auth.user.email,
      password: "",
    };
  },
  methods: {
    async logout() {
      try {
        await this.$auth.logout();
        await this.$router.push("/login");
      } catch (error) {
        console.error(error);
      }
    },
    async updateUser() {
      try {
        const payload = {
          email: this.email,
          college: this.college,
          course: this.course,
          password: this.password,
        };
        const response = await this.$axios.patch("update", payload);
        console.log(response.data);
        this.$message.success("Updated successfully!");
      } catch (error) {
        console.error(error);
        this.$message.error("Update failed!");
      }
    },
    beforeUpload(file) {
      // Check if file is an image
      const isJpgOrPng =
        file.type === "image/jpeg" || file.type === "image/png";
      if (!isJpgOrPng) {
        this.$message.error("You can only upload JPG/PNG file!");
        return false;
      }
      // Check if file size is less than 2MB
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isLt2M) {
        this.$message.error("Image must smaller than 2MB!");
        return false;
      }
      // Limit number of files uploaded to 1
      this.fileList.splice(0, 1, file);
      return false;
    },
  },
};
</script>

<style scoped>
.two {
  width: 108px;
  margin: auto;
}
.three {
  margin-top: -10px;
}
.nav {
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 66px;
  margin-right: 70px;
  padding: 5px;
  scale: 0.8;
}
.ant-menu-item {
  border: 1px solid rgb(237, 237, 237);
}
h1 {
  text-indent: 150px;
  padding: 5px;
  font-size: 35px;
  font-weight: 400;
}
h2 {
  text-indent: 370px;
  font-size: 25px;
}
.ant-input {
  width: 60%;
}
.ant-input-password {
  width: 60%;
}
.info {
  padding: 20px;
  border: 2.5px solid black;
  border-radius: 25px;
  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: -10px;
}
</style>
