<template>
  <div class="all"><LoginForm /></div>
</template>

<script>
export default {};
</script>

<style>
.all {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;

  background-image: url("../static/eschool.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  height: 100%;
  margin: 0;
}
</style>
