<template>
  <div class="one">
    <p></p>
    <div class="nav">
      <a-menu v-model="current" mode="horizontal">
        <a-menu-item key="profile"> <a-icon type="user" />Profile </a-menu-item>
        <a-menu-item key="calendar">
          <a-icon type="calendar" />Calendar
        </a-menu-item>
        <a-menu-item key="logout" @click="$auth.logout()">
          <a-icon type="logout" />Logout
        </a-menu-item>
      </a-menu>
    </div>
    <div class="two">
      <a-input-search
        placeholder="Search professor..."
        enter-button="Search"
        size="large"
        @search="onSearch"
      />
    </div>
    <div class="flex">
      <div class="three">
        <a-upload
          action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          list-type="picture-card"
          @preview="handlePreview"
          @change="handleChange"
        >
          <a-icon type="file-image" />
        </a-upload>
      </div>
      <div class="info">
        <h2>John Doe</h2>
      </div>
    </div>

    <div class="five">
      <h1>Calendar Schedule</h1>
      <div class="six">
        <a-table :columns="columns" :dataSource="scheduleData" rowKey="id">
          <template #action="text, record">
            <a-popconfirm
              title="Are you sure you want to book this schedule?"
              ok-type="primary"
              @confirm="bookSchedule(record.id)"
            >
              <a-button type="primary" size="small">Book</a-button>
            </a-popconfirm>
          </template>
        </a-table>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  middleware: "auth",
  data() {
    return {
      scheduleData: [],
      columns: [
        {
          title: "Date",
          dataIndex: "date",
        },
        {
          title: "Start Time",
          dataIndex: "startTime",
        },
        {
          title: "End Time",
          dataIndex: "endTime",
        },
        {
          title: "Action",
          dataIndex: "action",
          scopedSlots: { customRender: "action" },
        },
      ],
    };
  },
  created() {
    this.fetchSchedules();
  },
  methods: {
    showModal() {
      this.visible = true;
    },
    handleOk(e) {
      console.log(e);
      this.visible = false;
    },
    onSearch(value) {
      console.log(value);
    },
    fetchSchedules() {
      this.$axios
        .get("consult")
        .then((response) => {
          this.scheduleData = response.data.map((schedule) => ({
            id: schedule.id,
            date: moment(schedule.date).format("MM/DD/YYYY"),
            startTime: moment(schedule.startTime, "HH:mm:ss").format("hh:mm A"),
            endTime: moment(schedule.endTime, "HH:mm:ss").format("hh:mm A"),
          }));
        })
        .catch((error) => {
          console.error("Failed to fetch schedules", error);
        });
    },
    bookSchedule(id) {
      console.log("Book schedule", id);
    },
  },
};
</script>

<style scoped>
p {
  padding: 19px;
}
.nav {
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 66px;
  margin-right: 20px;
  padding: 5px;
  scale: 0.8;
}
.ant-menu-item {
  border: 1px solid rgb(237, 237, 237);
}
.two {
  width: 40%;
  margin: auto;
  scale: 0.8;
  margin-top: -40px;
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -30px;
}
.three {
  margin-left: 80px;
  width: 108px;
  height: 108px;
  scale: 0.8;
  margin-top: -12px;
}
.info {
  margin-left: 30px;
  line-height: -5;
}
h2 {
  font-weight: 500;
  font-size: 30px;
  margin-top: -10px;
}
span {
  font-weight: solid 500;
}
.flex2 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -12px;
  border-top: 2px solid blue;
}
.four {
  margin-left: 250px;
  scale: 0.9;
  margin-top: 5px;
}
h1 {
  margin: auto;
  text-align: center;
}
.five {
  margin-top: -60px;
}
.calendar {
  scale: 0.67;
  position: fixed;
  margin-top: -170px;
}
.reserve {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 150px;
  margin-right: 100px;
}
</style>
