<template>
  <div class="one">
    <h1>Consultation Schedule</h1>
    <div class="nav">
      <a-menu v-model="current" mode="horizontal">
        <a-menu-item key="profile">
          <NuxtLink to="/"> <a-icon type="user" />Profile</NuxtLink>
        </a-menu-item>
        <a-menu-item key="calendar">
          <a-icon type="calendar" />Calendar
        </a-menu-item>
        <a-menu-item key="logout" @click="$auth.logout()">
          <a-icon type="logout" />Logout
        </a-menu-item>
      </a-menu>
    </div>
    <div class="two">
      <div class="select"><p>Select Time Range:</p></div>
      <div class="timerange">
        <a-time-picker use12-hours format="h:mm A" v-model="startTime" />
        to
        <a-time-picker use12-hours format="h:mm A" v-model="endTime" />
      </div>
    </div>
    <div class="line">
      <div
        class="calendar"
        :style="{
          width: '405px',
          border: '1px solid black',
          borderRadius: '4px',
        }"
      >
        <a-calendar
          :fullscreen="false"
          :value="selectedDate"
          @select="onSelect"
        />
      </div>
      <div class="button">
        <a-button type="primary" size="large" @click="addRecord">
          Add
        </a-button>
      </div>
      <div class="three">
        <a-table :columns="columns" :dataSource="tableData" rowKey="id">
          <template #action="text, record">
            <a-popconfirm
              title="Are you sure you want to delete this record?"
              ok-type="danger"
              @confirm="deleteRecord(record.id)"
            >
              <a-button type="danger" size="small">Delete</a-button>
            </a-popconfirm>
          </template>
        </a-table>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";

export default {
  middleware: "auth",
  data() {
    return {
      selectedDate: moment(),
      startTime: moment().startOf("day"),
      endTime: moment().endOf("day"),
      tableData: [],
      columns: [
        {
          title: "Date",
          dataIndex: "date",
        },
        {
          title: "Start Time",
          dataIndex: "startTime",
        },
        {
          title: "End Time",
          dataIndex: "endTime",
        },
        {
          title: "Action",
          dataIndex: "action",
          scopedSlots: { customRender: "action" },
        },
      ],
    };
  },
  methods: {
    onSelect(value) {
      this.selectedDate = moment(value);
    },
    onDateSelect(value, mode) {
      this.selectedDate = moment(value);
    },
    addRecord() {
      const record = {
        date: this.selectedDate.format("MM-DD-YYYY").toString(),
        startTime: this.startTime.format("HH:mm:ss").toString(),
        endTime: this.endTime.format("HH:mm:ss").toString(),
      };

      this.$axios
        .post("consult", record)
        .then((response) => {
          this.tableData.push({
            id: response.data.id,
            date: moment(response.data.date).format("MM-DD-YYYY"),
            startTime: moment(response.data.startTime, "HH:mm:ss").format(
              "h:mm A"
            ),
            endTime: moment(response.data.endTime, "HH:mm:ss").format("h:mm A"),
          });

          (this.startTime = moment().startOf("day")),
            (this.endTime = moment().endOf("day")),
            this.$message.success("Record added successfully");
        })
        .catch((error) => {
          this.$message.error("Failed to add record");
        });
    },
    deleteRecord(id) {
      this.$axios
        .delete(`consult/${id}`)
        .then(() => {
          const index = this.tableData.findIndex((record) => record.id === id);
          this.tableData.splice(index, 1);
          this.$message.success("Schedule deleted successfully");
        })
        .catch((error) => {
          this.$message.error("Schedule to delete record");
        });
    },
    fetchData() {
      this.$axios
        .get("consult")
        .then((response) => {
          // Update table data with the retrieved data
          this.tableData = response.data.map((record) => ({
            id: record.id,
            date: moment(record.date).format("MM-DD-YYYY"),
            startTime: moment(record.startTime, "HH:mm:ss").format("h:mm A"),
            endTime: moment(record.endTime, "HH:mm:ss").format("h:mm A"),
          }));
        })
        .catch((error) => {
          console.error("Failed to fetch data:", error);
        });
    },
  },
  created() {
    this.fetchData();
  },
};
</script>
<style scoped>
.one {
  text-align: center;
}
h1 {
  text-align: center;
}
.nav {
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 60px;
  margin-right: 20px;
  padding: 5px;
  scale: 0.8;
}
.two {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 70px;
  margin-top: -17px;
}
.timerange {
  margin-left: 10px;
}
.button {
  bottom: 0;
  margin-left: 240px;
  margin-bottom: 150px;
  position: fixed;
}
.calendar {
  margin-left: 70px;
  margin-top: 30px;
}
.line {
  display: flex;
  flex-wrap: nowrap;
}
.three {
  margin-left: 30px;
  margin-top: 28px;
  width: 1000px;
}
</style>
